.nav_menu {
  position: fixed;
  z-index: 30;
  width: 100%;
  background-color: var(--bunker-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem 0 3rem;
}

.nav_logo p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
}

.nav_logo span {
  font-size: 2rem;
  color: var(--rock-blue);
  font-weight: 1000;
  font-style: bold;
}

.nav_items nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 100;
  font-size: 0.9rem;
}

.nav_items nav ul li {
  color: var(--mist-grey);
  cursor: pointer;
  transition: text-decoration 0.9s cubic-bezier(0.42, 0, 0.58, 1) left;
}

.nav_items nav ul li:hover {
  color: var(--rock-blue);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.1rem;
}

.nav_links a {
  font-weight: 100;
  font-size: 0.9rem;
  color: var(--mist-grey);
  transition: text-decoration 0.9s ease-in-out;
}

.nav_links a:hover {
  color: var(--rock-blue);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.1rem;
}

.nav_links a:first-child {
  padding-right: 1rem;
}

button {
  display: none;
}

.mobile_menu nav ul {
  display: none;
}

@media screen and (max-width: 40em) {
  .nav_menu {
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
  .nav_items nav ul {
    flex-direction: column;
    display: none;
  }

  .nav_links {
    display: none;
  }

  button {
    display: inline;
    background: var(--bunker-blue);
    border: 0;
    cursor: pointer;
  }

  .mobile_menu {
    position: fixed;
    top: 9%;
    padding-top: 1rem;
    background-color: var(--bunker-blue);
    z-index: 75;
    height: 6rem;
    width: 100%;
    color: var(--concrete-white);
    transition: all 8s ease-in;
  }

  .mobile_menu nav ul {
    cursor: pointer;
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 2rem;
    color: var(--concrete-white);
  }
}
