.about-section {
  z-index: 3;
  position: relative;
  height: 100dvh;

  padding: 0 3rem 3rem 3rem;
  background-color: var(--bunker-blue);
}

.about_wrapper {
  max-width: 70rem;
  margin: 0 auto;
  padding-top: 5rem;
}

.about_mainLayout {
  display: flex;
  height: 100%;
  gap: 5rem;
}

.about_textArea {
  width: 70%;
}

.about_textArea p {
  color: var(--concrete-white);
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.5;
}

.about_avatar {
  width: 100%;
  display: grid;
  justify-content: end;
  gap: 2rem;
}

.about_avatar h4 {
  color: var(--concrete-white);
  font-size: 5rem;
  line-height: 0.8;
}

.about_avatar_img {
  width: 100%;
  height: 50vh;
  background-image: url("/assets/avatarDark.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(28% 13%, 32% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
}

@media screen and (max-width: 50em) {
  .about-section {
    padding: 0 2rem;
  }

  .about_mainLayout {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .about_textArea {
    width: 100%;
  }

  .about_avatar {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .about_avatar h4 {
    text-align: center;
    font-size: 3rem;
  }

  .about_avatar_img {
    width: 100%;
    height: 50vh;
    background-position: 50% 100%;
  }
}
