.contact-form-container {
  height: 100dvh;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  z-index: 28;
  position: sticky;
  padding-top: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.contact-form button {
  width: 100%;
  display: block;
  padding: 0.75rem;
  background-color: var(--rock-blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.contact-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success-message {
  color: green;
  text-align: center;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
