.contact-section {
  height: 100dvh;
  background-color: var(--bunker-blue);
  z-index: 28;
  position: relative;
  padding: 0 3rem 3rem 3rem;
  background-image: url("./assets/darkBackground.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form-container {
  max-width: 80rem;
  padding: 2rem;
  z-index: 28;
  position: sticky;
  background: transparent;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.contact-form-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--bunker-blue);
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: var(--bunker-blue);
}

.contact-form input,
.contact-form textarea {
  color: var(--bunker-blue);
  font-weight: 500;
  width: 500px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 5px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.1);
  transition: border-color 3s ease;
}

.contact-form textarea:focus,
.contact-form input:focus {
  outline: none;
  border-color: var(--rock-blue);
}

.contact-form button {
  width: 100%;
  display: block;
  padding: 0.75rem;
  background-color: var(--rock-blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.contact-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success-message {
  color: green;
  text-align: center;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 50em) {
  .contact-form input,
  .contact-form textarea {
    color: var(--bunker-blue);
    font-weight: 500;
    width: 300px;
  }
}
