.message-section {
  position: relative;
  background-color: var(--bunker-blue);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/assets/background.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  padding: 0 3rem 3rem 3rem;
  height: 130dvh;
  display: flex;
  align-items: start;
  justify-content: start;
}

.relative-message {
  position: sticky;
  top: 20vh;
}

.relative-message h4 {
  width: 100%;
  text-align: right;
  font-size: 5.3rem;
  font-weight: 300;
  padding-bottom: 5;
}

.relative-message h4 .word {
  display: inline-block; /* Ensures each word animates independently */
}

.relative-message .message-img {
  line-height: 0;
  display: inline-block;
  background: url("../../public/assets/image.webp") no-repeat center center;
  background-size: contain;
  clip-path: polygon(80% 0, 100% 50%, 100% 100%, 0 100%, 0 0);
  border-radius: 1rem;
  width: 180px;
  height: 100px;
}

@media screen and (max-width: 50em) {
  .message-section {
    background-position: center right;
  }
  .relative-message h4 {
    width: 100%;
    text-align: left;
    font-size: 2.3rem;
  }
}
