.countdown-section {
  background-color: var(--bunker-blue);
  height: 100dvh;
  padding: 0 3rem 3rem 3rem;
  /* position: relative; */
}

.countdown_wrapper {
  max-width: 80rem;
  margin: 0 auto;
}

.countdown-grid {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.countdown-content {
  display: flex;
  flex-direction: column;
}
.countdown-content h3 {
  font-size: 6rem;
}

.countdown-content p {
  margin-top: 3rem;
  text-wrap: balance;
}
.countdown-image {
  justify-self: right;
}

.countdown-image img {
  height: 60vh;
}

@media screen and (max-width: 50em) {
  .countdown-section {
    height: 160dvh;
  }
  .countdown-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }

  .countdown-content h3 {
    font-size: 4.5rem;
  }
}
