.countdown-section {
  background-color: var(--bunker-blue);
  height: 80dvh;
  padding: 0 3rem 3rem 3rem;
}

.countdown-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.countdown-content {
  display: flex;
  flex-direction: column;
}

.countdown-content h3 {
  font-size: 6rem;
}

.countdown-content p {
  margin-top: auto;
}
