.countdown-section {
  background-color: var(--bunker-blue);
  height: 100dvh;
  padding: 0 3rem 3rem 3rem;
  /* position: relative; */
}

.countdown_wrapper {
  max-width: 80rem;
  margin: 0 auto;
}

.countdown-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.countdown-content {
  display: flex;
  flex-direction: column;
}
.countdown-content h3 {
  font-size: 6rem;
}

.countdown-content p {
  margin-top: 3rem;
  text-wrap: balance;
}
.countdown-image {
  justify-self: right;
  width: 100%;
  height: 400px;
}

.countdown-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.countdown-type {
  display: flex;
  align-items: center;
  margin-top: auto;
  justify-content: space-between;
}

.countdown-type .elment {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 3rem;
  background-color: var(--rock-blue);
  border-radius: 1rem;
}

@media screen and (max-width: 50em) {
  .countdown-section {
    height: 130dvh;
  }
  .countdown-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }

  .countdown-content h3 {
    font-size: 4.5rem;
  }
}
