.types-section {
  height: 100dvh;
  padding: 0 3rem;
  background-color: var(--bunker-blue);
}

.type-layout {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 4rem;
}

.type-layout .img {
  margin: 0 auto;
  height: 500px;
}

@media screen and (max-width: 50em) {
  .type-layout {
    flex-direction: column;
  }
}
